@page {
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 0cm;
    margin-right: 0cm;
    background: #f2eae3;
}

body {
    background-color: #f2eae3;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

.list_item {
    display: flex;
    justify-content: space-between;
}

.key {
    order: 1;
}

.value {
    order: 2;
}

.surf {
    font-weight: bolder;
}

.regular {
    margin: 1cm;
}

h1 {
    color: #3e8d62;
}

p {
    color: #00a3a6;
}

li {
    list-style-type: none;
}

#change {
    display: flex;
    text-align: justify;
}

.better {
    color: green;
}

.bad {
    color: red;
}

.equal {
    color: grey;
}

#exutoire {
    font-weight: bolder;
}

#exploitation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#exploitation ul li {
    flex: 0 0 50%;
    padding-left: 25px;
    box-sizing: border-box;
}

#practices ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#practices ul li {
    flex: 0 0 50%;
    padding-left: 25px;
    box-sizing: border-box;
}

#paysage ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#paysage ul li {
    flex: 0 0 50%;
    padding-left: 25px;
    box-sizing: border-box;
}

#paysage {
    margin: 1%;
}

.greenbar {
    background-color: #3e8d62;
    display: flex;
}

.percent {
    color: #5e5653;
}

img {
    width: 350px;
    margin: 10px;
}