@page {
    size : A4;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
    margin-left: 0cm;
    margin-right: 0cm;
    background: #f2eae3;
    @bottom-center {
        content: element(footer)
    }
}

@font-face {
    font-family: "Raleway";
    src: url('templates/Raleway/Raleway-Bold.ttf') format('truetype');
}

body {
    background-color: #f2eae3;
    margin: 0%;
    font-family: "Raleway",sans-serif;
}

footer {
    position: running(footer);
    height: 1.5cm;
}

.list_item {
    display: flex;
    justify-content: space-between;
}

.key {
    order: 1;
}

.value {
    order: 2;
    display: block;
}

.surf {
    font-weight: bolder;
}

.percent {
    color: #5e5653;
}

.regular {
    margin: 0.65cm;
}

h1 {
    color: #3e8d62;
    font-family: "Raleway",sans-serif;
}

p {
    color: #00a3a6;
}

li {
    list-style-type: none;
}

#change {
    display: flex;
    text-align: justify;
}

.better {
    color: green;
}

.bad {
    color: red;
}

.equal {
    color: grey;
}

#exutoire {
    font-weight: bolder;
}

#exploitation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    align-items: baseline;
}

#exploitation ul li {
    flex: 0 0 50%;
    padding-left: 15px;
    box-sizing: border-box;
}

#practices ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#practices ul li {
    flex: 0 0 50%;
    padding-left: 10px;
    box-sizing: border-box;
}

#paysage ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#paysage ul li {
    flex: 0 0 50%;
    padding-left: 10px;
    box-sizing: border-box;
}

.greenbar {
    background-color: #3e8d62;
    display: flex;
    justify-content: space-between;
}

.greenbar img{
    width: 350px;
    height: 262px;
    margin: 10px;
}
